In [1]:
import numpy as np

In [2]:
nested_tup = (1, 2, 3), (4, 5, 6)
nested_tup

((1, 2, 3), (4, 5, 6))

In [3]:
tup = 1, 2, 3, 4, 5, 6
tup

(1, 2, 3, 4, 5, 6)

In [4]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [5]:
for a, b, c in seq:
    print("a = {0}, b = {1}, c = {2}".format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [6]:
for i in tup:
    print (i * 2)

2
4
6
8
10
12

In [7]:
x = [4, 'foo', True]

In [8]:
x.extend([7, 8, "bar", False])
x

[4, 'foo', True, 7, 8, 'bar', False]

In [9]:
words = ['apple', 'bar', 'ace', 'brood', 'cow', 'laptop', 'dew', 'harmattan', 'desktop', 'deck', 'lion']
by_letter = {}

In [10]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else: 
        by_letter[letter].append(word)

In [11]:
by_letter

{'a': ['apple', 'ace'],
 'b': ['bar', 'brood'],
 'c': ['cow'],
 'l': ['laptop', 'lion'],
 'd': ['dew', 'desktop', 'deck'],
 'h': ['harmattan']}

In [12]:
d = {}

In [13]:
d[(1, 2, 3)] = 5
d

{(1, 2, 3): 5}

In [14]:
set1 = {2, 3, 2, 2, 3, 3, 1}
set1

{1, 2, 3}

In [15]:
val = 'fLOriDa'
print(val.title())

Florida

In [22]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [23]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [24]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [28]:
path = 'C:/Users/Gerald/Documents/Enyata_Training/Data_Science/Python_book_exercises/pydata-book/examples/segismundo.txt'
f = open(path)
f

In [30]:
for line in f:
    pass

In [39]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [41]:
f.close()

In [44]:
import sys

sys.getdefaultencoding()

'utf-8'